# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Environment variables
.env
.env.local

# OS
.DS_Store
*.pem

# IDE / Cursor
.vscode/
.idea/
.cursor/
*.swp
*.swo
*~















